@import url('https://rsms.me/inter/inter.css');
*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal)
{
    * { font-family: 'Inter var', sans-serif; }
}

body
{
    font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo + p
{
    margin-top: 6px;
}

.wrapper
{
    align-self: flex-start;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.header
{
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.nav-wrapper
{
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav
{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 4.0rem;
    background-color: transparent;
}

nav .links
{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
}

nav .links a
{
    display: flex;
    line-height: 1.5;
    font-size: 20px;
    color: #999;
    text-align: center;
    align-self: center;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: color 0.15s ease-in;
}
nav .links a:hover
{
    color: #444;
}

nav a.home
{
    line-height: 1.5;
    font-size: 30px;
    font-weight: 700;
    margin-left: 2rem;
    margin-right: 4rem;
    color: #000;
    text-decoration: none;
}

.title-wrapper
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.header h1
{
    margin: 0;
    line-height: 1.5;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #000;
}

.header h1 strong
{
    font-weight: 800;
}
span.ghost-gray
{
    color: #888;
}

.header h3
{
    margin: 0;
    line-height: 1.5;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #000;
}

.header h3 strong
{
    font-weight: 600;
}

.header .button-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.header button
{
    background-color: #99A3FF;
    width: 8.5rem;
    height: 3rem;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15);
    transition: background-color 0.07s ease-in;
}

.header button:hover
{
    background-color: #7768DF;
    cursor: pointer;
}
.header button:active
{
    background-color: #7768DF;
}

.page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .main-text
{
    display: flex;
    width: 30rem;
    padding-top: 3rem;
    flex-direction: column;
}

.main-text p
{
    margin: 0;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main-text p strong
{
    font-weight: 700;
}

.page .copyinfo
{
    margin-top: 30px;
    font-size: 14px;
    color: #999;
    line-height: 1.5;
    text-align: center;
}
